
.owl-wp {
  text-align: center;
	// Styling Next and Prev buttons
	.owl-nav {
    -webkit-tap-highlight-color: transparent;
    width: 200px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

		[class*='owl-'] {
      position: relative;
      width: $nav-size;
      height: $nav-size;
			font-size: $nav-font-size !important;
			// margin: $nav-margin;
			// padding: $nav-padding;
			background: $nav-background;
			display: inline-block;
      cursor: pointer;
      border: $border-width solid $nav-color !important;
      border-radius: $nav-rounded;
      box-sizing: border-box;
      transition: $tr300;

      &::before {
        content: '';
        width: 12px;
        height: 12px;
        box-sizing: border-box;
        border-left: $border-width solid $nav-color;
        border-bottom: $border-width solid $nav-color;
        transition: $tr300;

        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

			&:hover {
        border-color: $nav-color-hover !important;
        text-decoration: none;
        outline: none;
        
        &::before {
          border-color: $nav-color-hover;
        }
      }
      
      &:focus {
        outline: none;
      }
    }
    
    .owl-prev {
      &::before {
        left: 57%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    .owl-next {
      &::before {
        left: 43%;
        transform: translate(-50%, -50%) rotate(-135deg);
      }
    }


		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    min-height: $nav-size;

		.owl-dot {
			display: inline-block;
			zoom: 1;
      *display: inline;
      vertical-align: middle;

			span {
				width: $dot-width;
				height: $dot-height;
				margin: $dot-margin;
				background: $dot-background;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
        border-radius: $dot-rounded;
        transition: $tr300;
			}

			&.active,
			&:hover {
				span {
					background: $dot-background-active;
				}
      }
      
      &.active {
        span {
          width: 12px;
          height: 12px;
        }
      }
		}
	}
}
