/*
 * 	WestPower theme - Owl Carousel CSS File
 */

$color-base:			#869791 !default;
$color-white:			#FFF !default;
$color-gray:			#D6D6D6 !default;

$color-primary: #C7A95D;
$color-primary-dark: #3F2E27;
$color-dark-bg: #1D110C;

$tr150: all 150ms;
$tr300: all 300ms;
$tr600: all 600ms;

//nav

$nav-color: 			$color-primary;
$nav-color-hover:		$color-primary-dark;

$nav-size: 32px;

$nav-font-size: 0;
$border-width: 2px;
$nav-rounded: 			50%;
//$nav-margin: 			5px !default;
//$nav-padding: 			4px 7px !default;
$nav-background: 		transparent;
$nav-background-hover:	transparent;
$nav-disabled-opacity: 	0.5 !default;

//dots

$dot-width:				8px;
$dot-height:			8px;
$dot-rounded:			50%;
$dot-margin: 			5px 7px !default;
$dot-background:		$color-dark-bg;
$dot-background-active:	$color-primary;

@import 'theme';

