@font-face {
  font-family: 'Cormorant';
  src: url('fonts/Cormorant-Regular.woff2') format('woff2'),
    url('fonts/Cormorant-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant';
  src: url('fonts/Cormorant-Bold.woff2') format('woff2'),
    url('fonts/Cormorant-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant';
  src: url('fonts/Cormorant-Medium.woff2') format('woff2'),
    url('fonts/Cormorant-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('fonts/SegoeUI.woff2') format('woff2'),
    url('fonts/SegoeUI.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('fonts/SegoeUI-Bold.woff2') format('woff2'),
    url('fonts/SegoeUI-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-family: 'Segoe UI', 'Dejavu Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
  min-width: 320px;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  color: $color-text-dark;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.heading {
  font-family: 'Cormorant', 'Times New Roman', serif;
  color: $color-text-dark;
  font-weight: 700;
  margin: 0;
  text-align: center;

  &::selection {
    background-color: $color-text-dark;
    color: $color-text-light;
  }

  &.accent {
    color: $color-primary;
  }
}

body.menu-shown {
  height: 100vh;
  overflow: hidden;
}


h2,
.h2 {
  font-size: 60px;
  line-height: 1;

  @include media-breakpoint-down(lg) {
    font-size: 54px;
  }

  @include media-breakpoint-down(md) {
    font-size: 46px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 38px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 32px;
  }
}

h3,
.h3  {
  font-size: 48px;
  line-height: 56px;

  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 48px;
  }
}

h4,
.h4{
  font-size: 32px;
  line-height: 40px;

  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 28px;
  }
}

h5,
.h5 {
  font-size: 24px;
  line-height: 32px;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
    line-height: 26px;
  }
}

h6,
.h6 {
  font-size: 18px;
  line-height: 24px;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 20px;
  }
}

.heading--light,
.text--light {
  color: $color-text-light;
}

.heading--dark,
.text--dark {
  color: $color-text-dark;
}

p {
  font-family: 'Segoe UI', 'Dejavu Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 8px;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }

  &::selection {
    background-color: $color-text-dark;
    color: $color-text-light;
  }

  &.small {
    font-size: 14px;
    line-height: 18px;
  }

  &.big {
    font-size: 18px;
    line-height: 24px;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
    color: inherit;
  }

  &::selection {
    background-color: $color-text-dark;
    color: $color-text-light;
  }
}

li {
  &::selection {
    background-color: $color-text-dark;
    color: $color-text-light;
  }
}

main {
  position: relative;
  transition: $tr150;

  &.blur{
    filter: blur(3px);
  }
}

.white-bg {
  background-color: $color-white;
}

.pattern-bg {
  background: url('./images/handmadepaper.jpg') repeat 0 0;
}

/* Utilities */
.full-width-container {
  padding: 0;
}

.content-wrap {
  position: relative;
}

.mb-16 {
  margin-bottom: 16px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
  }
}

.mb-24 {
  margin-bottom: 24px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 12px;
  }
}

.mb-32 {
  margin-bottom: 32px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 16px;
  }
}

.mb-40 {
  margin-bottom: 40px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 24px;
  }
}

.mb-64 {
  margin-bottom: 64px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 32px;
  }
}

.fill-white {
  fill: $color-white;
}

.fill-primary {
  fill: $color-primary;
}

.fill-primary-dark {
  fill: $color-primary-dark;
}

.fill-primary-light {
  fill: $color-primary-light;
}

.fill-light-gray {
  fill: #EFF2F3;
}

.stroke-primary {
  stroke: $color-primary;
}

/*FORM Elements*/

.input-wrap {
  position: relative;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  position: relative;
  font-family: 'Cormorant', 'Times New Roman', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: $color-primary;
  padding-left: 32px;

  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }

  &::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid $color-primary;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-primary;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%) scale(0); 
    opacity: 0;
    transition: $tr300;
  }
}

input[type="radio"]:checked + label::after {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

input[type="text"] {
  font-size: 16px;
  line-height: 20px;
  color: $color-text-dark;
  background-color: $color-white;
  border: none;
  border-radius: 10px;
  padding: 20px 32px;
  width: 100%;
}

.button {
  display: inline-block;
  font-family: 'Cormorant', 'Times New Roman', serif;
  font-size: 24px;
  line-height: 1;
  box-sizing: border-box;
  transition: $tr300;
  border: 1px solid transparent;
  border-radius: 10px;
  
  &:hover,
  &:focus {
    outline: none;
  }

  &.button--primary {
    color: $color-white;
    background-color: $color-primary;

    &:hover,
    &.active {
      background-color: $color-white;
      color: $color-primary;
      border-color: $color-primary;
    }
  }

  &.button--primary-darktext {
    color: $color-primary-dark;
    background-color: $color-primary;

    &:hover,
    &.active {
      background-color: $color-white;
      color: $color-primary;
      border-color: $color-primary;
    }
  }

  &.button--invert {
    color: $color-primary;
    background-color: $color-white;
    border-color: $color-primary;

    &:hover,
    &.active {
      background-color: $color-primary;
      color: $color-white;
      border-color: $color-primary;
    }
  }

  &.button--transparent {
    color: $color-primary;
    background-color: transparent;
    border-color: $color-primary;

    &:hover,
    &.active {
      background-color: $color-primary;
      color: $color-white;
      border-color: $color-primary;
    }
  }

  &.button--small {
    min-width: 258px;
    text-align: center;
    box-sizing: border-box;
    padding: 18px;
  }

  &.button--xs {
    font-size: 18px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 8px;
  }

  &.button--medium {
    min-width: 240px;
    text-align: center;
    box-sizing: border-box;
    padding: 26px;

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
  }


  &.button--filter {
    width: 160px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(sm) {
      width: 140px;
      height: 60px;
    }
  }
}


.fancy-icon-btn {
  font-family: 'Cormorant', 'Times New Roman', serif;  
  font-weight: 700;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f2e27;
  border: none;
  border-radius: 10px 10px 0 0;
  background-color: #c7a95d;

  position: absolute;
  bottom: 0;
  right: 0;

  svg {
    fill: $color-primary-dark;
  }

  span {
    text-align: center;
    position: relative;
    z-index: 5;
  }

  &::before {
    content: '';
    width: 50%;
    height: 75%;
    background: url('./images/tracery.png') no-repeat 0 0;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: '';
    width: 50%;
    height: 75%;
    background: url('./images/tracery.png') no-repeat 0 0;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }

  &.fancy-icon-btn--wide {
    width: 100%;
    height: 200px;
    font-size: 32px;

    @include media-breakpoint-down(md){
      height: 150px;
      font-size: 24px;
    }

    @include media-breakpoint-down(xs){
      height: 120px;
      font-size: 22px;
    }

    svg {
      margin-right: 16px;

      @include media-breakpoint-down(md){
        width: 48px;
        height: 48px;
      }
    }

    &::before,
    &::after {
      @include media-breakpoint-down(lg){
        height: 60%;
      }

      @include media-breakpoint-down(xs){
        height: 50%;
      }
    }
  }

  &.fancy-icon-btn--tall {
    width: 160px;
    height: auto;
    font-size: 18px;
    flex-direction: column;
    padding: 48px 0;

    @include media-breakpoint-down(md) {
      flex-direction: row;
      align-items: center;
      width: 300px;
      padding: 24px;
    }

    &::before {
      display: none;
    }

    &::after {
      width: 100%;
      height: 140px;

      @include media-breakpoint-down(md) {
        height: 100%;
      }
    }

    svg {
      margin-bottom: 40px;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }
  }
}

/* Elements */

.section-title-block {
  position: relative;
  padding: 64px 0;
  text-align: center;

  @include media-breakpoint-down(lg) {
    padding: 48px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 32px 0;
  }

  .section-title-block__decor {
    position: absolute;
    top: 0;

    svg {
      @include media-breakpoint-down(lg) {
        width: 200px;
        height: 185px;
      }

      @include media-breakpoint-down(md) {
        width: 160px;
        height: 140px;
      }

      @include media-breakpoint-down(sm) {
        width: 120px;
        height: 100px;
      }

      @include media-breakpoint-down(xs) {
        width: 80px;
        height: 65px;
      }
    }
  }

  .section-title-block__decor--left {
    left: 0;
    transform: rotate(180deg);
  }

  .section-title-block__decor--right {
    right: 0;
    transform: scale(1, -1);
  }

  .subtitle {
    max-width: 808px;
    margin: 0 auto;
  }
}

.heading-underline {
  position: relative;
  z-index: 5;
  display: inline-block;
  margin-bottom: 56px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 48px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 32px;
  }

  .heading {
    display: block;
  }

  .decoration-element {
    margin: 16px 0;
    width: 100%;
    height: 2px;
    position: relative;
    text-align: center;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &.decoration-element--dark {
      background-color: $color-primary-dark;

      &::before,
      &::after {
        background-color: $color-primary-dark;
      }

      svg {
        fill: $color-primary-dark;
      }
    }

    &.decoration-element--light {
      background-color: $color-primary-light;

      &::before,
      &::after {
        background-color: $color-primary-light;
      }

      svg {
        fill: $color-primary-light;
      }
    }

    &::before,
    &::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 24px 0;

  li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Cormorant', 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 700;
    color: $color-primary;
    transition: $tr150;

    &:not(:last-child) {
      &::after {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $color-primary;
        margin: 0 8px;
      }

      a:hover {
        color: $color-primary-dark;
      }
    }

    a {
      display: inline-block;
      transition: $tr150;
    }
  }
}