
$color-black: #000;
$color-white: #fff;

$color-primary: #C7A95D;
$color-primary-dark: #3F2E27;
$color-primary-light: #F6E2C7;
$color-text-light: #F6E2C7;
$color-text-dark: #3F2E27;

$color-dark-bg: #1D110C;


$tr150: all 150ms;
$tr300: all 300ms;
$tr600: all 600ms;


// Настройки bootstrap-grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1120px
);

