//= header.html

<body>
  <div class="page inner-page">
      <div class="overlay"></div>
      //= header-nav.html
      <main>

        <div class="breadcrumbs-wrap">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <ul class="breadcrumbs">
                  <li>
                    <a href="javascript:void(0);">Главная</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Каталог квартир</a>
                  </li>
                  <li>2-комнатная квартира</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        
        <div class="apartment-section pattern-bg">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-9">
                <h5 class="heading text-left mb-32">2-комнатная квартира 63,7 кв.м. в ЖК Площадь Искусств Калининград</h5>
                <div class="row">
                  <div class="col-12 col-xl-8">
                    <div class="apartment-gallery">
                      <div class="main-pic">
                        <img src="images/apartment.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-xl-4">
                    <ul class="apartment-short-info">
                      <li class="item">
                        <p class="title">3</p>
                        <p class="subtitle">Номер</p>
                      </li>
                      <li class="item">
                        <p class="title">3</p>
                        <p class="subtitle">Этаж</p>
                      </li>
                      <li class="item">
                        <p class="title">70</p>
                        <p class="subtitle">Площадь</p>
                      </li>
                      <li class="item">
                        <p class="title">Свободна</p>
                        <p class="subtitle">Статус</p>
                      </li>
                      <li class="item">
                        <p class="title">2 350 000 ₽</p>
                        <p class="subtitle">54 356 руб./кв.м.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3">
                <div class="share-block">
                  <a href="javascript:(void);" class="print-icon">
                    <svg viewBox="0 0 50 50" width="30" height="30" class="stroke-primary">
                      <use xlink:href="svg/sprite.svg#print"></use>
                    </svg>
                  </a>
                  <a href="javascript:(void);" class="share-icon">
                    <svg viewBox="0 0 80 90" width="30" height="30" class="fill-primary">
                      <use xlink:href="svg/sprite.svg#share"></use>
                    </svg>
                  </a>
                </div>
                <div class="mb-32">
                  <button class="button button--transparent button--xs mb-16">Ипотечный калькулятор</button>
                  <button class="button button--primary-darktext button--xs">Забронировать</button>
                </div>
                <div class="fits-block">
                  <h5 class="mb-16">Подходит под:</h5>
                  <ul class="fits-items">
                    <li>Льготная ипотека</li>
                    <li>Семейная ипотека</li>
                    <li>Стандартная ипотека</li>
                    <li>Военная ипотека</li>
                    <li>Материнский капитал</li>
                  </ul>
                </div>

                <div class="contacts">
                  <div class="mb-16 text-center">
                    <p>Центральный отдел продаж</p>
                    <a href="tel:+79008000000">+7 900 800 00 00</a>
                  </div>
                  <div class="text-center">
                    <p>Отдел продаж на объекте</p>
                    <a href="tel:+79008000000">+7 900 800 00 00</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="apartments-description">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-9">
                <div class="description-content mb-32">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia maiores fugit voluptatum libero! Soluta odit vitae, cupiditate adipisci architecto molestiae atque! Laborum assumenda omnis natus! Quis nesciunt quia exercitationem distinctio?
                  Veritatis ratione, earum vitae numquam excepturi eos maxime voluptas aliquid debitis hic? Numquam saepe doloribus reiciendis dignissimos explicabo nesciunt quidem! A molestiae nesciunt quidem fugit nemo, nulla mollitia doloremque vel!
                  Iusto consectetur similique excepturi quo corrupti, suscipit voluptatum ratione laboriosam amet culpa, nulla quis debitis officiis asperiores totam ab inventore esse rem soluta molestiae doloribus necessitatibus labore sit quaerat! Ullam.</p>
                </div>
              </div>

              <div class="col-12 col-lg-3">
                <div class="callback-form">
                  <form action="">
                    <h5 class="mb-16">Укажите свои контакты и мы Вам перезвоним:</h5>
                    <input type="text" placeholder="Имя" name="username">
                    <input type="text" placeholder="Телефон" name="userphone">
                    <button class="button button--primary-darktext button--small">Заказать звонок</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


      </main>
  </div>
</body>