//= header.html

<body>
  <div class="page inner-page">
      <div class="overlay"></div>
      //= header-nav.html
      <main>

        <div class="breadcrumbs-wrap">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <ul class="breadcrumbs">
                  <li>
                    <a href="javascript:void(0);">Главная</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Каталог квартир</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <section class="catalog-section">
          <div class="container">
            <div class="row">
              <div class="col-12">
                  <div class="heading-underline">
                    <h3 class="heading heading--dark">Выбор параметров квартиры в ЖК Площадь Искусств</h3>
                    <div class="decoration-element decoration-element--dark">
                      <svg viewBox="0 0 17 17" width="17" height="17">
                        <use xlink:href="svg/sprite.svg#dec-heading"></use>
                      </svg>
                    </div>
                  </div>

                <div class="catalog-block">
                  <div class="catalog-form">
                    <form action="">
                      <div class="form-group mb-32">
                        <div class="row">
                          <div class="col-12 col-lg-2">
                            <div class="input-wrap">
                              <label for="">Число комнат</label>
                              <select name="rooms" id="rooms">
                                <option value="1">1</option>
                                <option value="2">2</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-12 col-lg-3">
                            <div class="input-wrap">
                              <label for="">Площадь(м<sup>2</sup>)</label>
                              <div class="row">
                                <div class="col-6">
                                  <input type="text" id="areaFrom" placeholder="от">
                                </div>
                                <div class="col-6">
                                  <input type="text" id="areaTo" placeholder="до">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-lg-5">
                            <div class="input-wrap">
                              <label for="">Цена:</label>
                              <div class="row">
                                <div class="col-4">
                                  <input type="text" id="price-from" placeholder="от">
                                </div>
                                <div class="col-4">
                                  <input type="text" id="price-to" placeholder="до">
                                </div>
                                <div class="col-4">
                                  <select name="price" id="priceForAll">
                                    <option value="1">За всё</option>
                                    <option value="2">За не всё</option>
                                    <option value="3">За ничего</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-lg-2">
                            <div class="input-wrap">
                              <label for="">Этаж:</label>
                              <select name="floor" id="floor">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="text-center">
                        <button class="button button--primary button--small">Найти</button>
                      </div>
                    </form>
                  </div>

                  <div class="catalog-list">
                    <div class="catalog-list__item">
                      <img src="images/floor.png" alt="" class="pic">
                      <table class="description">
                        <tr>
                          <td><div class="dot"></div></td>
                          <td>Число комнат:</td>
                          <td>1</td>
                        </tr>
                        <tr>
                          <td><div class="dot"></div></td>
                          <td>Этаж:</td>
                          <td>1</td>
                        </tr>
                        <tr>
                          <td><div class="dot"></div></td>
                          <td>Площадь:</td>
                          <td>1</td>
                        </tr>
                        <tr>
                          <td><div class="dot"></div></td>
                          <td>Цена:</td>
                          <td>2 000 300 ₽</td>
                        </tr>
                      </table>
                      <div class="text-center">
                        <button class="button button--primary-darktext button--xs">Подробнее</button>
                      </div>
                    </div>

                    //= catalog-item.html
                    //= catalog-item.html
                    //= catalog-item.html
                    //= catalog-item.html
                    //= catalog-item.html
                    //= catalog-item.html
                    //= catalog-item.html
                  </div>
                </div>



              </div>
            </div>
          </div>
        </section>





      </main>
  </div>
</body>