//= header.html

<body>
  <div class="page inner-page">
      <div class="overlay"></div>
      //= header-nav.html
      <main>

        <div class="breadcrumbs-wrap">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <ul class="breadcrumbs">
                  <li>
                    <a href="javascript:void(0);">Главная</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Каталог квартир</a>
                  </li>
                  <li>2-комнатная квартира</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        
        <div class="floor-section pattern-bg">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="floor-slider-container">
                  <h4 class="text-left mb-16 accent">Квартиры на <span class="current-floor">1</span> этаже к ЖК Площадь Искусств</h4>
                  <p class="subtitle text-left mb-32">ЖК Площадь Искусств Калининград Поэтажная планировка</p>

                  <div class="row">
                    <div class="col-12 col-lg-2 col-xl-3">
                      <div class="total-floors">
                        <ul class="floors">
                          <li class="active"></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-12 col-lg-10 col-xl-9">
                      <div class="floor-slider" id="floor-slider">

                          <div class="slide">
                            <div class="floor-container">
                              <img src="images/floor-full.png" alt="">
                              <div class="tooltip" style="top: 0; right: 0;">
                                <p><span class="accent">2</span>-к.кв. <span class="accent">65,6</span>кв.м</p>
                                <p class="accent text-center mb-16">2 350 000₽</p>
                                <div class="text-center">
                                  <button class="button button--primary-darktext button--xs">Подробнее</button>
                                </div>
                              </div>
                            </div>
                          </div>
        
                          //= floor-slide.html
                          //= floor-slide.html
                          //= floor-slide.html
                          //= floor-slide.html
                          //= floor-slide.html
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="floor-description">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="floor-table-wrap">
                  <table class="floor-table">
                    <tr>
                      <th>Номер</th>
                      <th>Этаж</th>
                      <th>Кол-во комнат</th>
                      <th>Площадь</th>
                      <th>Цена</th>
                      <th>Статус</th>
                    </tr>
                    <tr>
                      <td>23</td>
                      <td>2</td>
                      <td>2</td>
                      <td>63кв.м</td>
                      <td>2 350 000</td>
                      <td>Свободна</td>
                    </tr>
                    <tr>
                      <td>23</td>
                      <td>2</td>
                      <td>2</td>
                      <td>63кв.м</td>
                      <td>2 350 000</td>
                      <td>Свободна</td>
                    </tr>
                    <tr>
                      <td>23</td>
                      <td>2</td>
                      <td>2</td>
                      <td>63кв.м</td>
                      <td>2 350 000</td>
                      <td>Свободна</td>
                    </tr>
                    <tr>
                      <td>23</td>
                      <td>2</td>
                      <td>2</td>
                      <td>63кв.м</td>
                      <td>2 350 000</td>
                      <td>Свободна</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
  </div>
</body>