//= header.html

<body>
  <div class="page inner-page">
      <div class="overlay"></div>
      //= header-nav.html
      <main>

        <div class="breadcrumbs-wrap">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <ul class="breadcrumbs">
                  <li>
                    <a href="javascript:void(0);">Главная</a>
                  </li>
                  <li>Фотогаллерея</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <section class="constructing-progress pattern-bg">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="content-wrap">
    
                    <div class="section-title-block">
                      <div class="section-title-block__decor section-title-block__decor--left">
                        <svg viewBox="0 0 155.072 138.522" width="240" height="216" class="fill-white">
                          <use xlink:href="svg/sprite.svg#tracery"></use>
                        </svg>
                      </div>
                      <div class="section-title-block__decor section-title-block__decor--right">
                        <svg viewBox="0 0 155.072 138.522" width="240" height="216" class="fill-white">
                          <use xlink:href="svg/sprite.svg#tracery"></use>
                        </svg>
                      </div>
                      <div class="heading-underline">
                        <h2 class="heading heading--dark">Ход строительства</h2>
                        <div class="decoration-element decoration-element--dark">
                          <svg viewBox="0 0 17 17" width="17" height="17">
                            <use xlink:href="svg/sprite.svg#dec-heading"></use>
                          </svg>
                        </div>
                      </div>
                      <p class="subtitle">
                          В рамках первой очереди будут возведены 2 здания высотой от 15 до 25 этажей, срок сдачи первой очереди - 1 квартал 2019. 
                          В рамках второй очереди будут построены ещё 2 жилых корпуса с этажностью 18-25
                          и паркинги со встроенно‐пристроенными помещениями, срок сдачи - 2 квартал 2020.
                      </p>
                    </div>
    
                    <div class="constructing-progress-filter">
                      <form action="">
                        <div class="filterby-row">
                          <div class="filterby-name">
                            <p>По датам</p>
                          </div>
                            <ul class="filterby-list">
                              <li class="filterby-list__item">
                                <button class="button button--invert button--filter active">09/19</button>
                              </li>
                              <li class="filterby-list__item">
                                <button class="button button--invert button--filter">08/19</button>
                              </li>
                              <li class="filterby-list__item">
                                <button class="button button--invert button--filter">07/19</button>
                              </li>
                              <li class="filterby-list__item">
                                <button class="button button--invert button--filter">06/19</button>
                              </li>
                              <!-- <li class="filterby-list__item">
                                <button class="button button--invert button--filter">06/19</button>
                              </li> -->
                            </ul>
                        </div>
    
                        <div class="filterby-row">
                          <div class="filterby-name">
                            <p>По домам</p>
                          </div>
                          <div class="verflow-wrapper">
                            <ul class="filterby-list">
                              <li class="filterby-list__item">
                                <button class="button button--invert button--filter">дом №3</button>
                              </li>
                              <li class="filterby-list__item">
                                <button class="button button--invert button--filter active">дом №4</button>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </form>
                    </div>
    
                    <a href="javascript(void);" class="fancy-icon-btn fancy-icon-btn--tall">
                      <svg viewBox="0 0 62 62" width="62" height="62">
                        <use xlink:href="svg/sprite.svg#brickwall"></use>
                      </svg>
                      <span>Посмотреть ход строительства</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="progress-gallery">
              <div class="container-fluid full-width-container">
                <div class="row no-gutters">
                  <div class="col-sm-6 col-md-4">
                    <img src="images/progress-1.jpg" alt="" class="img img--md">
                    <img src="images/progress-2.jpg" alt="" class="img img--md">
                  </div>
    
                  <div class="col-sm-6 col-md-4">
                    <div class="row no-gutters">
                      <div class="col-6">
                        <img src="images/progress-3.jpg" alt="" class="img img--md">
                      </div>
                      <div class="col-6">
                        <img src="images/progress-4.jpg" alt="" class="img img--sm">
                        <img src="images/progress-5.jpg" alt="" class="img img--sm">
                      </div>
                      <div class="col-12">
                        <img src="images/progress-6.jpg" alt="" class="img img--md">
                      </div>
                    </div>
                  </div>
    
                  <div class="col-12 col-md-4">
                    <img src="images/progress-7.jpg" class="img img--lg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </section>

      </main>
  </div>
</body>