//= header.html

<body>
  <div class="page">
    <div class="overlay"></div>
    //= header-nav.html
    <main>
      <section class="select-apartment">
        <div class="img-map-container"></div>
        <!-- <svg></svg> -->

        <div class="info-container">
          <div class="container h-100">
            <div class="row h-100">
              <div class="col-12 col-md-6">
                <div class="screen-1-logo"></div>
              </div>
              <div class="col-12 col-md-6 h-100">
                  <a href="javascript:void(0);" class="fancy-icon-btn fancy-icon-btn--wide">
                    <svg viewBox="0 0 62.754 55.282" width="63" height="56">
                      <use xlink:href="svg/sprite.svg#apart-plan"></use>
                    </svg>
                    <span>Выбрать квартиру</span>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="details-slider" id="details-slider">

        <div class="slide">
          <div class="container-fluid full-width-container">
            <div class="row no-gutters">
              <div class="col-12 col-lg-6">
                <div class="img-wrapper">
                  <img src="images/slide-1-lg.jpg" alt="" class="img-lg">
                </div>
                <div class="slider-content">
                  <div class="details-slider__title">
                    <svg viewBox="0 0 155.072 138.522" width="130" height="115">
                      <use xlink:href="svg/sprite.svg#tracery"></use>
                    </svg>
                    <h2 class="h2 heading heading--light text-left">Красота в деталях</h2>
                  </div>
                  <div class="details-slider__description">
                    <p>Жилой комплекс на ул. Дадаева - это четыре дома повышенной комфортности и благоустроенная
                      прилегающая территория. Вокруг много зелени, развитая инфраструктура, магазины, садики, школы.</p>
                    <p>Дома строятся из керамического кирпича, утеплены, имеют автономное отопление, на территории предусмотренны удобные парковочные места, детские площадки. Все дома отвечают самым высоким стандартам строительства, безопасности, комфортности и экологичности.</p>  
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="row no-gutters">
                  <div class="col-4 col-lg-12">
                      <img src="images/slide-1-md.jpg" alt="" class="img-sm">
                  </div>
                  <div class="col-4 col-lg-6">
                    <img src="images/slide-1-sm-1.jpg" alt="" class="img-sm">
                  </div>
                  <div class="col-4 col-lg-6">
                    <img src="images/slide-1-sm-2.jpg" alt="" class="img-sm">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="slide">
          <div class="container-fluid full-width-container">
            <div class="row no-gutters">
              <div class="col-12 col-lg-6">
                <div class="img-wrapper">
                  <img src="images/slide-1-lg.jpg" alt="" class="img-lg">
                </div>
                <div class="slider-content">
                  <div class="details-slider__title">
                    <svg viewBox="0 0 155.072 138.522" width="130" height="115">
                      <use xlink:href="svg/sprite.svg#tracery"></use>
                    </svg>
                    <h2 class="h2 heading heading--light text-left">123 в деталях</h2>
                  </div>
                  <div class="details-slider__description">
                    <p>Жилой комплекс на ул. Дадаева - это четыре дома повышенной комфортности и благоустроенная
                      прилегающая территория. Вокруг много зелени, развитая инфраструктура, магазины, садики, школы.</p>
                    <p>Дома строятся из керамического кирпича, утеплены, имеют автономное отопление, на территории предусмотренны удобные парковочные места, детские площадки. Все дома отвечают самым высоким стандартам строительства, безопасности, комфортности и экологичности.</p>  
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="row no-gutters">
                  <div class="col-4 col-lg-12">
                      <img src="images/slide-1-sm-1.jpg" alt="" class="img-sm">
                  </div>
                  <div class="col-4 col-lg-6">
                    <img src="images/slide-1-md.jpg" alt="" class="img-sm">
                  </div>
                  <div class="col-4 col-lg-6">
                    <img src="images/slide-1-sm-2.jpg" alt="" class="img-sm">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="constructing-progress pattern-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="content-wrap">

                <div class="section-title-block">
                  <div class="section-title-block__decor section-title-block__decor--left">
                    <svg viewBox="0 0 155.072 138.522" width="240" height="216" class="fill-white">
                      <use xlink:href="svg/sprite.svg#tracery"></use>
                    </svg>
                  </div>
                  <div class="section-title-block__decor section-title-block__decor--right">
                    <svg viewBox="0 0 155.072 138.522" width="240" height="216" class="fill-white">
                      <use xlink:href="svg/sprite.svg#tracery"></use>
                    </svg>
                  </div>
                  <div class="heading-underline">
                    <h2 class="heading heading--dark">Ход строительства</h2>
                    <div class="decoration-element decoration-element--dark">
                      <svg viewBox="0 0 17 17" width="17" height="17">
                        <use xlink:href="svg/sprite.svg#dec-heading"></use>
                      </svg>
                    </div>
                  </div>
                  <p class="subtitle">
                      В рамках первой очереди будут возведены 2 здания высотой от 15 до 25 этажей, срок сдачи первой очереди - 1 квартал 2019. 
                      В рамках второй очереди будут построены ещё 2 жилых корпуса с этажностью 18-25
                      и паркинги со встроенно‐пристроенными помещениями, срок сдачи - 2 квартал 2020.
                  </p>
                </div>

                <div class="constructing-progress-filter">
                  <form action="">
                    <div class="filterby-row">
                      <div class="filterby-name">
                        <p>По датам</p>
                      </div>
                        <ul class="filterby-list">
                          <li class="filterby-list__item">
                            <button class="button button--invert button--filter active">09/19</button>
                          </li>
                          <li class="filterby-list__item">
                            <button class="button button--invert button--filter">08/19</button>
                          </li>
                          <li class="filterby-list__item">
                            <button class="button button--invert button--filter">07/19</button>
                          </li>
                          <li class="filterby-list__item">
                            <button class="button button--invert button--filter">06/19</button>
                          </li>
                          <!-- <li class="filterby-list__item">
                            <button class="button button--invert button--filter">06/19</button>
                          </li> -->
                        </ul>
                    </div>

                    <div class="filterby-row">
                      <div class="filterby-name">
                        <p>По домам</p>
                      </div>
                      <div class="verflow-wrapper">
                        <ul class="filterby-list">
                          <li class="filterby-list__item">
                            <button class="button button--invert button--filter">дом №3</button>
                          </li>
                          <li class="filterby-list__item">
                            <button class="button button--invert button--filter active">дом №4</button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </form>
                </div>

                <a href="javascript(void);" class="fancy-icon-btn fancy-icon-btn--tall">
                  <svg viewBox="0 0 62 62" width="62" height="62">
                    <use xlink:href="svg/sprite.svg#brickwall"></use>
                  </svg>
                  <span>Посмотреть ход строительства</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="progress-gallery">
          <div class="container-fluid full-width-container">
            <div class="row no-gutters">
              <div class="col-sm-6 col-md-4">
                <img src="images/progress-1.jpg" alt="" class="img img--md">
                <img src="images/progress-2.jpg" alt="" class="img img--md">
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="row no-gutters">
                  <div class="col-6">
                    <img src="images/progress-3.jpg" alt="" class="img img--md">
                  </div>
                  <div class="col-6">
                    <img src="images/progress-4.jpg" alt="" class="img img--sm">
                    <img src="images/progress-5.jpg" alt="" class="img img--sm">
                  </div>
                  <div class="col-12">
                    <img src="images/progress-6.jpg" alt="" class="img img--md">
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-4">
                <img src="images/progress-7.jpg" class="img img--lg" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="pattern-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-title-block">
                <div class="section-title-block__decor section-title-block__decor--left">
                  <svg viewBox="0 0 155.072 138.522" width="240" height="216" class="fill-white">
                    <use xlink:href="svg/sprite.svg#tracery"></use>
                  </svg>
                </div>
                <div class="section-title-block__decor section-title-block__decor--right">
                  <svg viewBox="0 0 155.072 138.522" width="240" height="216" class="fill-white">
                    <use xlink:href="svg/sprite.svg#tracery"></use>
                  </svg>
                </div>
                <div class="heading-underline">
                  <h2 class="heading heading--dark">Готовые дизайн-решения</h2>
                  <div class="decoration-element decoration-element--dark">
                    <svg viewBox="0 0 17 17" width="17" height="17">
                      <use xlink:href="svg/sprite.svg#dec-heading"></use>
                    </svg>
                  </div>
                </div>
                <p class="subtitle">
                  В ЖК «Счастливая поляна» представлены светлые квартиры с продуманными планировками, большими кухнями, комнатами правильной формы и просторными лоджиями. Жилье передается клиентам с полной чистовой отделкой, выполняемой по одному из 3 вариантов дизайна интерьера.
                </p>
              </div>
              <div class="design-slider-filter">
                <form action="">
                  <div class="input-wrap">
                    <input name="rooms" type="radio" id="radio1" checked>
                    <label for="radio1">1 – комнатная квартира</label>
                  </div>
                  <div class="input-wrap">
                    <input name="rooms" type="radio" id="radio2">
                    <label for="radio2">2 – комнатная квартира</label>
                  </div>
                  <div class="input-wrap">
                    <input name="rooms" type="radio" id="radio3">
                    <label for="radio3">3 – комнатная квартира</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid full-width-container">
          <div class="row">
            <div class="col-12">
              <div class="design-slider" id="design-slider">
                <div class="slide">
                  <img class="img" src="images/design-1.jpg">
                </div>
                <div class="slide">
                  <img class="img" src="images/design-2.jpg">
                </div>
                <div class="slide">
                  <img class="img" src="images/design-3.jpg">
                </div>
                <div class="slide">
                  <img class="img" src="images/design-1.jpg">
                </div>
                <div class="slide">
                  <img class="img" src="images/design-2.jpg">
                </div>
                <div class="slide">
                  <img class="img" src="images/design-3.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="discount-slider-section">
        <div class="discount-slider" id="discount-slider">

          <div class="slide">
            <img src="images/design-1.jpg" alt="" class="slider-img">
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-6">
                  <h2 class="heading heading--light text-left">Сезонные скидки на внутреннюю отделку</h2>
                  <p class="subtitle text--light text-left">Открываем сезонную охоту на скидки!
                    Беспроигрышная лотерея во всех офисах компании. </p>
                </div>
              </div>
            </div>
          </div>

          <div class="slide">
            <img src="images/design-2.jpg" alt="" class="slider-img">
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-6">
                  <h2 class="heading heading--light text-left">Другие скидки на внутреннюю отделку</h2>
                  <p class="subtitle text--light text-left">Открываем сезонную охоту на скидки!
                    Беспроигрышная лотерея во всех офисах компании. </p>
                </div>
              </div>
            </div>
          </div>

          <div class="slide">
            <img src="images/design-3.jpg" alt="" class="slider-img">
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-6">
                  <h2 class="heading heading--light text-left">Последние скидки на отделку</h2>
                  <p class="subtitle text--light text-left">Открываем сезонную охоту на скидки!
                      Беспроигрышная лотерея во всех офисах компании. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mortgage-section pattern-bg">
        <div class="mortgage-types" style="min-height: 300px;">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="section-title-block">
                  <div class="section-title-block__decor section-title-block__decor--left">
                    <svg viewBox="0 0 155.072 138.522" width="240" height="216" class="fill-primary-light">
                      <use xlink:href="svg/sprite.svg#tracery"></use>
                    </svg>
                  </div>
                  <div class="section-title-block__decor section-title-block__decor--right">
                    <svg viewBox="0 0 155.072 138.522" width="240" height="216" class="fill-primary-light">
                      <use xlink:href="svg/sprite.svg#tracery"></use>
                    </svg>
                  </div>
                  <div class="heading-underline">
                    <h2 class="heading heading--light">Ипотека</h2>
                    <div class="decoration-element decoration-element--light">
                      <svg viewBox="0 0 17 17" width="17" height="17" class="fill-primary-light">
                        <use xlink:href="svg/sprite.svg#dec-heading"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="button-wrap">
                    <button class="button button--primary button--medium">Льготная ипотека</button>
                    <button class="button button--transparent button--medium">Военная ипотека</button>
                  </div>
                  <h4 class="heading heading--light mb-40">Льготная ипотека</h4>
                  <p class="subtitle text--light">
                      Льготная ипотека — одна из форм залога, при которой закладываемое недвижимое имущество остаётся во владении и пользовании должника, а кредитор, в случае невыполнения должником своего обязательства, приобретает право получить удовлетворение за счёт реализации данного имущества.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mortgage-calculator">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="mortgage-form">
                  <div class="heading-underline">
                    <h2 class="heading heading--dark">Ипотечный калькулятор</h2>
                    <div class="decoration-element decoration-element--dark">
                      <svg viewBox="0 0 17 17" width="17" height="17">
                        <use xlink:href="svg/sprite.svg#dec-heading"></use>
                      </svg>
                    </div>
                  </div>
                  <form action="">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3">
                          <div class="input-wrap">
                            <label for="mortgage-type">Вид ипотеки</label>
                            <input type="text" value="Льготная" id="mortgage-type">
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                          <div class="input-wrap">
                            <label for="">Стоимость объекта</label>
                            <input type="text" value="3200000 ₽">
                            <input type="range" id="mortgage-cost" class="js-range-slider">
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                          <div class="input-wrap">
                              <label for="">Первоначальный взнос</label>
                              <input type="text" value="500 000 ₽">
                              <input type="range" id="mortgage-payment" class="js-range-slider">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                          <div class="input-wrap">
                            <label for="">Срок ипотечного займа</label>
                            <input type="text" value="60 месяцев">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="button-wrapp t-center">
                      <button class="button button--primary button--small">Рассчитать</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="mortgage-banks">
          <div class="container">
            <div class="row">
              <div class="col-12">

                <div class="section-title-block">
                  <div class="heading-underline">
                    <h2 class="heading heading--dark">Объекты аккредитованы в следующих банках</h2>
                    <div class="decoration-element decoration-element--dark">
                      <svg viewBox="0 0 17 17" width="17" height="17" class="fill-primary-dark">
                        <use xlink:href="svg/sprite.svg#dec-heading"></use>
                      </svg>
                    </div>
                  </div>
                </div>

                <div class="banks-slider" id="banks-slider">
                  <div class="slide">
                    <img src="images/sber.png" alt="">
                  </div>
                  <div class="slide">
                    <img src="images/vozrozhdenie.png" alt="">
                  </div>
                  <div class="slide">
                    <img src="images/vtb.png" alt="">
                  </div>
                  <div class="slide">
                    <img src="images/bspb.png" alt="">
                  </div>
                  <div class="slide">
                    <img src="images/vostochniy.png" alt="">
                  </div>
                  <div class="slide">
                    <img src="images/sber.png" alt="">
                  </div>
                  <div class="slide">
                    <img src="images/vozrozhdenie.png" alt="">
                  </div>
                  <div class="slide">
                    <img src="images/vtb.png" alt="">
                  </div>
                  <div class="slide">
                    <img src="images/bspb.png" alt="">
                  </div>
                  <div class="slide">
                    <img src="images/vostochniy.png" alt="">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="documents-section white-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">

              <div class="section-title-block">
                <div class="section-title-block__decor section-title-block__decor--left">
                  <svg viewBox="0 0 155.072 138.522" width="240" height="216" class="fill-light-gray">
                    <use xlink:href="svg/sprite.svg#tracery"></use>
                  </svg>
                </div>
                <div class="section-title-block__decor section-title-block__decor--right">
                  <svg viewBox="0 0 155.072 138.522" width="240" height="216" class="fill-light-gray">
                    <use xlink:href="svg/sprite.svg#tracery"></use>
                  </svg>
                </div>
                <div class="heading-underline">
                  <h2 class="heading heading--dark">Документы</h2>
                  <div class="decoration-element decoration-element--dark">
                    <svg viewBox="0 0 17 17" width="17" height="17" class="fill-primary-dark">
                      <use xlink:href="svg/sprite.svg#dec-heading"></use>
                    </svg>
                  </div>
                </div>
                
                <div class="button-wrap text-center">
                  <button class="button button--invert button--filter active">дом №3</button>
                  <button class="button button--invert button--filter">дом №4</button>
                </div>

                <div class="documnets-block">
                  <div class="documnets-block__item">
                    <svg viewBox="0 0 36 33" width="36" height="33" class="fill-light-gray">
                        <use xlink:href="svg/sprite.svg#xls"></use>
                      </svg>
                    <a href="javascript:void(0);" download>Разрешение на строительную деятельность</a>
                  </div>
                  <div class="documnets-block__item">
                    <svg viewBox="0 0 36 33" width="36" height="33" class="fill-light-gray">
                        <use xlink:href="svg/sprite.svg#doc"></use>
                      </svg>
                    <a href="javascript:void(0);" download>Документ на плотноавтоматическую установку ограждений</a>
                  </div>
                  <div class="documnets-block__item">
                    <svg viewBox="0 0 36 33" width="36" height="33" class="fill-light-gray">
                        <use xlink:href="svg/sprite.svg#jpg"></use>
                      </svg>
                    <a href="javascript:void(0);" download>Разрешение на строительную деятельность</a>
                  </div>
                  <div class="documnets-block__item">
                    <svg viewBox="0 0 36 33" width="36" height="33" class="fill-light-gray">
                        <use xlink:href="svg/sprite.svg#pdf"></use>
                      </svg>
                    <a href="javascript:void(0);" download>Разрешение на строительную деятельность</a>
                  </div>
                  <div class="documnets-block__item">
                    <svg viewBox="0 0 36 33" width="36" height="33" class="fill-light-gray">
                        <use xlink:href="svg/sprite.svg#zip"></use>
                      </svg>
                    <a href="javascript:void(0);" download>Разрешение на строительную деятельность</a>
                  </div>
                  <div class="documnets-block__item">
                    <svg viewBox="0 0 36 33" width="36" height="33" class="fill-light-gray">
                        <use xlink:href="svg/sprite.svg#exe"></use>
                      </svg>
                    <a href="javascript:void(0);" download>Разрешение на строительную деятельность</a>
                  </div>
                  <div class="documnets-block__item">
                    <svg viewBox="0 0 36 33" width="36" height="33" class="fill-light-gray">
                        <use xlink:href="svg/sprite.svg#rar"></use>
                      </svg>
                    <a href="javascript:void(0);" download>Разрешение на строительную деятельность</a>
                  </div>
                  <div class="documnets-block__item">
                    <svg viewBox="0 0 36 33" width="36" height="33" class="fill-light-gray">
                        <use xlink:href="svg/sprite.svg#png"></use>
                      </svg>
                    <a href="javascript:void(0);" download>Разрешение на строительную деятельность</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="map-contacts">
        <div class="map" id="map"></div>

        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 offset-lg-6">
              <div class="contacts-block">
                <div class="text-center">
                  <div class="heading-underline">
                    <h2 class="heading heading--dark">Контакты</h2>
                    <div class="decoration-element decoration-element--dark">
                      <svg viewBox="0 0 17 17" width="17" height="17" class="fill-primary-dark">
                        <use xlink:href="svg/sprite.svg#dec-heading"></use>
                      </svg>
                    </div>
                  </div>
                </div>

                <div class="text-left mb-64">
                  <p class="mb-32">ООО Застройщик</p>
                  <p>Калининград, ул. Зеленая, д. 89</p>
                  <p>ИНН/КПП 12345678/1234567</p>
                  <p>ОГРН 1234567890</p>
                  <p>Тел.: 8 (4012) 123 456</p>
                  <p>Директор Иванов И. И.</p>
                </div>

                <div class="social-block">
                  <p class="mb-24">Мы в социальных сетях</p>
                  <div class="social-icons">
                    <svg viewBox="0 0 40 40" width="40" height="40" class="fill-primary">
                      <use xlink:href="svg/sprite.svg#fb"></use>
                    </svg>

                    <svg viewBox="0 0 40 40" width="40" height="40" class="fill-primary">
                      <use xlink:href="svg/sprite.svg#ig"></use>
                    </svg>
                    <svg viewBox="0 0 40 40" width="40" height="40" class="fill-primary">
                      <use xlink:href="svg/sprite.svg#vk"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <script type="text/javascript">
        var myMap;
        var zoom;

        if (window.innerWidth < 768) {
            zoom = 8
        } else if (window.innerWidth >= 767 && window.innerWidth < 992) {
            zoom = 9
        } else {
            zoom = 10
        }

        ymaps.ready(function () {
        myMap = new ymaps.Map('map', {
                center: [54.727822, 21.090617], //координаты стартового центра карты
                controls: ['zoomControl'],
                zoom: zoom // собственно зум
            }),

            // Создаём макет содержимого.
            MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
            ),

            myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                hintContent: '',
            }, {
                // Опции.
                // Необходимо указать данный тип макета.
                iconLayout: 'default#image',
                // Своё изображение иконки метки.
                iconImageHref: 'images/geo2.png',
                // Размеры метки.
                iconImageSize: [45, 65],
                // Смещение левого верхнего угла иконки относительно
                // её "ножки" (точки привязки).
                iconImageOffset: [-44, -44],
            });
            myMap.geoObjects.add(myPlacemark);


            var kldMark = new ymaps.Placemark([54.768012, 20.527573],
                {
                    // Опции.
                    // Необходимо указать данный тип макета.
                    iconLayout: 'default#image',
                    // Своё изображение иконки метки.
                    iconImageHref: 'images/geo.png',
                    // Размеры метки.
                    iconImageSize: [45, 65],
                    // Смещение левого верхнего угла иконки относительно
                    // её "ножки" (точки привязки).
                    iconImageOffset: [-44, -44]
                });
            myMap.geoObjects.add(kldMark);
         
            myMap.behaviors.disable('scrollZoom');
        });

        function movemap(el){
            myMap.panTo(listCoords[el.getAttribute('data-id')])
        }

    </script>


    </main>
  </div>


</body>
</html>
