@import 'css/variables';
@import "css/bootstrap/mixins/breakpoints";
@import 'css/basic-styles';

.page {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $color-primary-dark;
  z-index: 0;
  opacity: 0;
  transition: $tr300; 

  &.show {
    opacity: 0.9;
    z-index: 5;
  }
}

// HEADER //
.header {
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0;
  z-index: 5;
}

.inner-page .header {
  position: relative;
  top: 0;
  background-color: $color-primary-dark;
  padding: 16px 0;

  .header-logo {
    display: block;
    margin-right: 16px;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: none;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.burger-btn {
  background-color: transparent;
  border: none;
  margin-left: -8px;
  margin-right: 16px;
  width: 36px;
  height: 36px;

  .burger-box {
    position: relative;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: $color-primary;
    transition: $tr150;

    &::before,
    &::after {
      content: '';
      width: 20px;
      height: 4px;
      border-radius: 2px;
      background-color: $color-primary;
      transition: $tr150;
      position: absolute;
      left: 0;
      transform-origin: 0 0;
    }

    &::before {
      bottom: 8px;
    }

    &:after {
      top: 8px;
    }
  }

  &.active {
    .burger-box {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

.header-menu {
  font-family: 'Cormorant', 'Times New Roman', serif;
  font-weight: 700;
  font-size: 18px;
  color: $color-primary;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-width: 680px;

  @include media-breakpoint-down(lg) {
    max-width: 510px;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 16px;
    display: none;

  }
}

.header-menu__item {
  margin-right: 16px;

  &:nth-child(n + 6) {
    display: none;
  }

  @include media-breakpoint-down(lg) {
    &:nth-child(n + 5) {
      display: none;
    }
  }

  a {
    padding: 8px 0;
    position: relative;
    display: inline-block;
    white-space: nowrap;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background-color: rgba($color-primary, 0.65);
      position: absolute;
      bottom: 8px;
      left: 0;
      transition: $tr150;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.header .contact-phone {
  font-family: 'Cormorant', 'Times New Roman', serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  color: $color-primary;

  a {
    transition: $tr150;
  }

  &:hover {
    a {
      text-shadow: 0 2px 4px $color-primary;
    }
  }
}

.full-menu-block {
  position: absolute;
  top: 112px;
  display: none;

  &.show {
    display: block;
  }

  .full-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    font-family: 'Cormorant', 'Times New Roman', serif;
    font-weight: 700;
    font-size: 18px;
    color: $color-primary;

    li {
      margin-bottom: 8px;
    }
  }
}

// MAIN PAGE //
.select-apartment {
  width: 100%;
  height: 860px;
  position: relative;
  overflow: hidden;
}

.img-map-container {
  width: 1920px;
  height: 860px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('images/screen-1.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.info-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.constructing-progress {
  .content-wrap {
    padding-bottom: 64px;

    @include media-breakpoint-down(md) {
      padding-bottom: 140px;
    }
  }
}

.constructing-progress-filter {
  .filterby-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
    width: calc(100% - 160px);

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .filterby-row:last-child {
    margin-bottom: 0;
  }

  .filterby-name {
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      flex-basis: 100px;
    }
  }


  .filterby-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;

    overflow-x: hidden;
  }

  .filterby-list__item:not(:last-child) {
    margin-right: 32px;
  }
}

.design-slider-filter {
  margin-bottom: 88px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 48px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 32px;
  }

  form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  .input-wrap {
    margin-right: 32px;
  }
}

.details-slider {
  position: relative;

  .img-wrapper {
    position: relative;
    height: 100%;

    @include media-breakpoint-down(md) {
      position: absolute;
      width: 100%;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($color-dark-bg, 0.8);
    }
  }

  $details-img-xxl: 960px;
  $details-img-xl: 880px;
  $details-img-lg: 800px;

  .img-lg {
    width: 100%;
    height: $details-img-xxl;
    object-fit: cover;

    @media (max-width: 1400px) {
      height: $details-img-xl;
    }

    @include media-breakpoint-down(lg) {
      height: $details-img-lg;
    }

    @include media-breakpoint-down(md) {
      height: 100%;
    }
  }

  .img-md,
  .img-sm {
    width: 100%;
    height: $details-img-xxl / 2;
    object-fit: cover;

    @media (max-width: 1400px) {
      height: $details-img-xl / 2;
    }

    @include media-breakpoint-down(lg) {
      height: $details-img-lg / 2;
    }

    @include media-breakpoint-down(md) {
      height: 300px;
    }

    @include media-breakpoint-down(sm) {
      height: 222px;
    }

    @include media-breakpoint-down(xs) {
      height: 180px;
    }
  }

  .slider-content {
    position: absolute;
    width: 560px;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 88px;
    top: 0;
    right: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-only(lg) {
      width: 480px;
    }

    @include media-breakpoint-down(md) {
      width: 768px;
      position: relative;
      margin: 0 auto;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: 32px;
    }
  }
}

.details-slider__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include media-breakpoint-down(md) {
    margin-bottom: 32px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 24px;
  }

  svg {
    fill: $color-text-light;
    margin-right: 24px;
    flex: 130px 0 0;

    @include media-breakpoint-down(lg) {
      flex-basis: 104px;
      height: 104px;
    }

    @include media-breakpoint-down(md) {
      flex-basis: 88px;
      height: 88px;
    }

    @include media-breakpoint-down(sm) {
      flex-basis: 72px;
      height: 72px;
    }

    @include media-breakpoint-down(xs) {
      flex-basis: 56px;
      height: 56px;
    }
  }

  .h1 {
    text-align: left;
  }
}

.details-slider__description {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 80px;
  padding-right: 64px;
  text-align: left;

  @include media-breakpoint-down(sm) {
    padding-bottom: 48px;
    padding-right: 0;
  }

  * {
    color: $color-text-light;
    width: 100%;
  }
}

.details-slider {
  .owl-nav {
    position: absolute;
    height: 32px;
    transform: none;
    bottom: 56px;

    @include media-breakpoint-down(md) {
      bottom: 320px;
    }

    @include media-breakpoint-down(sm) {
      bottom: 242px;
    }

    @include media-breakpoint-down(xs ) {
      bottom: 200px;
    }
  }

  .owl-dots {
    position: absolute;
    height: 32px;
    bottom: 56px;

    @include media-breakpoint-down(md) {
      bottom: 320px;
    }

    @include media-breakpoint-down(sm) {
      bottom: 242px;
    }

    @include media-breakpoint-down(xs ) {
      bottom: 200px;
    }
  }
}


.progress-gallery {
  width: 100%;
  //height: 600px;

  .img {
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;

    $img-h-xl: 218px;
    $img-h-lg: 180px;
    $img-h-md: 140px;
    $img-h-sm: 104px;


    &.img--lg {
      height: $img-h-xl * 4;

      @media (max-width: 1400px) {
        height: $img-h-lg * 4;
      }

      @include media-breakpoint-down(lg) {
        height: $img-h-md * 4;
      }

      @include media-breakpoint-down(md) {
        height: $img-h-sm * 4;
      }

      @include media-breakpoint-down(sm) {
        height: $img-h-sm * 2;
      }
    }

    &.img--md {
      height: $img-h-xl * 2;

      @media (max-width: 1400px) {
        height: $img-h-lg * 2;
      }

      @include media-breakpoint-down(lg) {
        height: $img-h-md * 2;
      }

      @include media-breakpoint-down(md) {
        height: $img-h-sm * 2;
      }
    }

    &.img--sm {
      height: $img-h-xl;

      @media (max-width: 1400px) {
        height: $img-h-lg;
      }

      @include media-breakpoint-down(lg) {
        height: $img-h-md;
      }

      @include media-breakpoint-down(md) {
        height: $img-h-sm;
      }
    }
  }
}

.design-slider {
  width: 100%;
  position: relative;
  margin-bottom: 56px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 32px;
  }

  .slide {
    position: relative;
    height: 510px;
    transition: $tr300;

    @include media-breakpoint-down(lg) {
      height: 460px;
    }

    @include media-breakpoint-down(md) {
      height: 380px;
    }

    @include media-breakpoint-down(xs) {
      height: 260px;
    }

    .img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-position: 50% 50%;
      object-fit: cover;
      transition: $tr600;
      filter: brightness(0.5);
    }
  }

  .owl-stage-outer {
    padding: 80px 0;
    margin-bottom: 56px;

    @include media-breakpoint-down(md) {
      padding: 40px 0;
      margin-bottom: 48px;
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
      margin-bottom: 32px;
    }
  }


  .owl-item.active.center {
    z-index: 10;

    .slide {
      .img {
        width: 1120px;
        height: 670px;
        filter: brightness(1);

        @include media-breakpoint-down(lg) {
          width: 960px;
          height: 600px;
        }
    
        @include media-breakpoint-down(md) {  
          width: 680px;
          height: 460px;
        }

        @include media-breakpoint-down(sm) {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.discount-slider-section {
  padding-bottom: 56px;
}

.discount-slider {
  position: relative;

  .slide {
    padding: 48px 0 40px 0;
    position: relative;
    background-color: $color-primary-dark;
    margin-bottom: 56px;

    @include media-breakpoint-down(sm) {
      padding-top: 0;
      margin-bottom: 32px;
    }

    .heading {
      margin-bottom: 20px;
    }
  }

  .slider-img {
    width: 50%!important;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;

    position: absolute;
    top: 0;
    right: 0;

    @include media-breakpoint-down(sm) {
      position: relative;
      width: 100%!important;
      height: 300px;
      margin-bottom: 32px;
    }

    @include media-breakpoint-down(xs) {
      position: relative;
      width: 100%!important;
      height: 220px;
      margin-bottom: 32px;
    }
  }
}


.mortgage-types {
  position: relative;
  background: url('images/mortgage.jpg') no-repeat 50% 50%;
  background-size: cover;
  padding-bottom: 174px;

  .button-wrap {
    margin-bottom: 64px;
    margin-top: 112px;
    text-align: left;

    .button:not(:last-child) {
      margin-right: 32px;

      @include media-breakpoint-down(sm) {
        margin-right: 0;
        margin-bottom: 24px;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-top: 24px;
      margin-bottom: 48px;
      text-align: center;
    }
  }

  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary-dark;
    opacity: 0.8;
  }
}

.mortgage-calculator {
  margin-top: -176px;
}

.mortgage-form {
  text-align: center;
  padding: 32px;
  background-color: $color-primary-light;
  border-radius: 10px;

  .form-group {
    margin-bottom: 32px;

    .input-wrap {
      @include media-breakpoint-down(md) {
        margin-bottom: 24px;
      }
    }
  }

  label {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
  }
}

.mortgage-banks {
  padding-bottom: 64px;

  .heading-underline {
    max-width: 640px;
  }
}

.banks-slider {
  .owl-stage-outer {
    margin-bottom: 64px;
  }

  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;

    img {
      width: 100%;
      height: auto;
      max-height: 40px;
      object-fit: contain;
    }
  }
}

.documents-section {
  .button-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
    .button:not(:last-child) {
      margin-right: 32px;
    }
  }
}

.documnets-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 56px;

  @include media-breakpoint-down(sm) {
    margin-top: 48px;
  }
}

.documnets-block__item {
  flex: 25% 0 0;
  padding: 0 8px;
  margin-bottom: 48px;
  text-align: left;
  display: flex;
  justify-content: flex-start;

  @include media-breakpoint-down(lg) {
    flex-basis: 33.33%;
  }

  @include media-breakpoint-down(md) {
    flex-basis: 50%;
    margin-bottom: 32px;
  }

  @include media-breakpoint-down(xs) {
    flex-basis: 100%;
    margin-bottom: 24px;
  }

  svg {
    flex-basis: 36px;
    flex-shrink: 0;
    flex-grow: 0;
    fill: $color-primary;
    margin-right: 24px;
  }

  a {
    flex-basis: auto;
    color: $color-primary-dark;
    display: inline-block;
    line-height: 20px;
    transition: $tr150;

    &:hover {
      color: $color-primary;
    }
  }
}

.map-contacts {
  position: relative;
  padding: 32px 0 64px 0;

  @include media-breakpoint-down(md) {
    padding-bottom: 0;
    padding-top: 124px;
  }

  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .contacts-block {
    background-color: $color-white;
    border-radius: 10px;
    padding: 48px 32px;
  }

  .social-icons {
    svg:not(:last-child) {
      margin-right: 16px;
    }

    svg {
      transition: $tr150;
      &:hover {
        fill: $color-primary-dark;
      }
    }
  }
}

/* Catalog block */
.catalog-form {
  background-color: $color-primary-light;
  margin-bottom: 32px;
  padding: 24px;
  border-radius: 10px;

  .form-group {

    .input-wrap {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include media-breakpoint-down(md) {
        margin-bottom: 16px;
      }
    }
  }
}

.catalog-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.catalog-list__item {
  flex: 23.5% 0 0;
  box-sizing: border-box;
  border: 1px solid $color-primary;
  border-radius: 10px;
  margin: 0px 8px 16px 8px;
  padding: 16px;

  @include media-breakpoint-down(lg) {
    flex: 31.5% 0 0;
  }

  @include media-breakpoint-down(md) {
    flex: 47.5% 0 0;
  }

  @include media-breakpoint-down(sm) {
    flex: 46.5% 0 0;
  }

  @include media-breakpoint-down(xs) {
    flex: 100% 0 0;
    margin-left: 0;
    margin-right: 0;
  }

  .pic {
    margin-bottom: 16px;
    width: 100%;
    max-height: 180px;
    object-fit: contain;
  }

  .description {
    width: 100%;
    margin-bottom: 16px;

    .dot {
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $color-primary;
      margin-right: 4px;
    }

    td:last-child {
      text-align: right;
      font-weight: 700;
    }
  }
}

/* === */

/* Apartment */

.apartment-section {
  padding: 32px 0;
}

.apartment-gallery {
  margin-bottom: 32px;

  img {
    width: 100%;
    height: auto;
  }
}

.apartment-short-info {
  list-style: none;
  text-align: center;
  padding: 0;

  @include media-breakpoint-down(lg) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include media-breakpoint-down(xs) {
    flex-wrap: wrap;
  }

  .item {
    margin-bottom: 32px;

    .title {
      font-family: 'Cormorant', 'Times New Roman', serif;
      font-size: 32px;
      color: $color-primary;
      font-weight: 700;
      margin-bottom: 8px;
    }

    .subtitle {
      font-family: 'Cormorant', 'Times New Roman', serif;
      font-weight: 700;
      font-size: 18px;
    }
  }
}

.share-block {
  text-align: right;
  margin-bottom: 32px;
  
  svg {
    transition: $tr150;
    margin: 0 8px;

  }
  a:hover {
    svg {
      fill: $color-primary-dark;
      stroke: $color-primary-dark;
    }
  }  
}

.fits-block {
  background-color: $color-primary-light;
  border-radius: 10px;
  padding: 16px 0;
  margin-bottom: 32px;

  .fits-items {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-family: 'Cormorant', 'Times New Roman', serif;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      color: $color-primary;
    }
  }
}


.apartment-section .contacts {
  p {
    font-family: 'Cormorant', 'Times New Roman', serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: $color-primary-dark;
    margin-bottom: 0;
  }

  a {
    font-family: 'Cormorant', 'Times New Roman', serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: $color-primary;
  }
}

.apartments-description {
  padding: 32px 0;
}

.callback-form {
  input[type="text"] {
    border: 1px solid $color-primary;
    margin-bottom: 16px;
  }

  .button {
    width: 100%;
    min-width: 0;
  }
}
/* === */

/* FLOOR */
.floor-section {
  padding: 48px 0;
}

.floor-slider-container {
  .total-floors {
    height: 100%;

    @include media-breakpoint-down(md) {
      height: auto;
      margin-bottom: 24px;
    }

    ul {
      width: 60px;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;

      li {
        border: 1px solid $color-primary;
        width: 100%;
        height: 20px;
        margin-top: -1px;

        &.active {
          background-color: $color-primary;
        }

        &:first-child {
          border-radius: 0 0 6px 6px;
        }

        &:last-child {
          border-radius: 6px 6px 0 0;
        }
      }
    }
  }
}

.floor-slider {
  .slide {
    .floor-container {
      position: relative;

      img {
        width: 100%;
        height: auto;
      }

      .tooltip {
        position: absolute;
        background-color: $color-primary-light;
        border: 1px solid $color-primary;
        border-radius: 10px;
        padding: 16px 32px;
        z-index: 5;

        &::after {
          content: '';
          display: block;
          width: 22px;
          height: 22px;
          background-color: $color-primary-light;
          border-right: 1px solid $color-primary;
          border-bottom: 1px solid $color-primary;
          box-sizing: border-box;
          transform: rotate(45deg);
          position: absolute;
          bottom: -12px;
          left: 48px;
        }

        .accent {
          font-family: 'Cormorant', 'Times New Roman', serif;
          font-weight: 700;
          font-size: 24px;  
          color: $color-primary;
        }
      }
    }
  }
}

.floor-slider {
  .owl-nav {
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    left: -154px;
    bottom: auto;
    top: 0;

    @include media-breakpoint-down(lg) {
      left: -64px;
    }

    @include media-breakpoint-down(md) {
      left: 96px;
      top: -140px;
    }

    .owl-prev {
      &::before {
        top: auto;
        bottom: 9px;
        left: 8px;
        transform: rotate(-45deg);
      }
    }

    .owl-next {
      &::before {
        top: 11px;
        left: 8px;
        transform: rotate(135deg);
      }
    }

    .current-floor {
      display: block;
      font-family: 'Cormorant', 'Times New Roman', serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 1;
      text-align: center;
      color: $color-primary;
      margin-top: 4px;
      margin-bottom: 8px;
    }
  }
}

.floor-description {
  padding: 48px 0;
}

.floor-table-wrap {
  @include media-breakpoint-down(sm) {
    overflow-x: scroll; 
  }
}

.floor-table {
  width: 100%;

  @include media-breakpoint-down(sm) {
    width: auto;
  }

  th,
  td {
    padding: 8px;
    border: 1px solid $color-primary-light;
    white-space: nowrap;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  th {
    background-color: $color-primary;
  }
}

/* === */